<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangshijiapu.wsjpapp" >
    <!-- 权限 -->
    <!-- 设置系统时区 -->
    <uses-permission android:name="android.permission.SET_TIME_ZONE" tools:ignore="ProtectedPermissions" />

    <!-- 访问网络连接 -->
    <uses-permission android:name="android.permission.INTERNET"/>
	
    <!-- 本地存储读写 SD卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
	<!--SD卡创建与删除权限-->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
		
	<!--VISIBILITY_HIDDEN表示不显示任何通知栏提示的权限-->
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

	<!--DownloadManager-->
	<uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>

    <!-- 获取应用的文件大小 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
	
	<!-- 安装应用 -->
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
	
	<!-- 下载通知栏 -->
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <!--  改变WiFi状态  -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!--  改变WiFi多播状态  -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <!--  改变网络状态 如是否能联网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!-- 允许访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 拨打电话 拨号器里输入电话号码 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- 蓝牙管理 允许程序进行发现和配对新的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- 使用蓝牙 允许程序连接配对过的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <!--  获取WiFi状态 获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- 获取网络状态 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 获取精确位置 通过GPS芯片接收卫星的定位信息，定位精度达10米以内 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- 获取粗略位置 通过WiFi或移动基站的方式获取用户错略的经纬度信息，定位精度大概误差在30~1500米-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 访问登记属性 读取或写入登记check-in数据库属性表的权限 -->
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES "/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>